extends layout
block content
 include mixins/renderResumeSection
 header.hero
  .row
    .span12.center
      h1.display-name
        strong= 'Alexander Friedrichsen'
      span
        address
          a(href="https://"+'alex.friedrichsen.me')= 'alex.friedrichsen.me'
          br
          a(href="mailto:"+'afriedrichsen@me.com')= 'afriedrichsen@me.com'
          br
          p= '+1.605.380.7346'
          p.social-media
            for service in socialmedia
              a(href=service.url, target='_blank')
                img(class="img-circle", src="img/"+service.iconName+".png")
 for sec in sections
   +renderResumeSection(sec)
